

@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  max-width: 100%;
  overflow: hidden;
}
.container {
  margin: 0 auto;
}
.view_all {
  padding: 10px 30px !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Abel-Regular';
  src: url('../../public/assets/Abel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oxanium';
  src: url('../../public/assets/Oxanium-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url('../../public/assets/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/assets/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lottie-column {
 position: relative;
}
.inter{
  font-family: "Inter";
}
.AbelRegular {
  font-family: 'Abel-Regular';
}

.LatoLight {
  font-family: 'LatoLight'
}

.Oxanium {
  font-family: 'Oxanium';
}



button.relative {
  position: relative;
  width: 2rem;
  height: 5rem;
  color: white;
  background-color: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

@media(max-width:640px) {
  button.relative{
    width: 6rem;
    height: 2rem;
  }
  
  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

button.relative::before,
button.relative::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 5px;
  height: 30px;
  background-color: #5991FF; /* Color on default */
  opacity: 0.8;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

button.relative::before {
  left: -5px; /* Stick to the beginning of the button */
  transition: left 0.3s;
}

button.relative::after {
  right: -5px; /* Stick to the end of the button */
  transition: right 0.3s;
}

button:hover::before {
  left: -15px; /* Stick to the beginning of the button */
  transition: left 0.3s;
}
button:hover::after {
  right: -15px; /* Stick to the beginning of the button */
  transition: right 0.3s;
}

button.relative:hover::before,
button.relative:hover::after {
  background-color: white; /* Color on hover */
}
















button2.relative {
  position: relative;
  padding: 0.5rem 1rem;
  color: white;
  background-color: black;
  border: 1px solid #AD1AAF;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button2.relative::before,
button2.relative::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 5px;
  height: 30px;
  background-color: #AD1AAF; /* Default color */
  opacity: 0.8;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

button2.relative::before {
  left: -15px; /* Stick to the beginning of the button */
  transition: left 0.3s;
}

button2.relative::after {
  right: -15px; /* Stick to the end of the button */
  transition: right 0.3s;

}

button2:hover::before {
  left: -5px; /* Stick to the beginning of the button */
  transition: left 0.3s;
}
button2:hover::after {
  right: -5px; /* Stick to the beginning of the button */
  transition: right 0.3s;
}


button2:hover::before,
button2:hover::after {
  background-color: #AD1AAF; /* Color on hover */
}




.maxWidth{
  max-width: 1920px;
}

.gradient-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Center the text vertically and horizontally */
   /* Optional: set a background color */
}

.gradient-text {
  
  background: linear-gradient(270deg, #FF3C6A -13.53%, #FFAF36 30.88%, #5991FF 64.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.reset-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  box-shadow: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
}



button3.relative::before,
button3.relative::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 5px;
  height: 30px;
  background-color: #AD1AAF; /* Default color */
  opacity: 0.8;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

button3.relative::before {
  left: -15px; /* Stick to the beginning of the button */
  transition: left 0.3s;
}

button3.relative::after {
  right: -15px; /* Stick to the end of the button */
  transition: right 0.3s;

}

button3:hover::before {
  left: -5px; /* Stick to the beginning of the button */
  transition: left 0.3s;
}
button3:hover::after {
  right: -5px; /* Stick to the beginning of the button */
  transition: right 0.3s;
}

.app-store {
  max-width: 110px;
}
button3:hover::before,
button3:hover::after {
  background-color: #AD1AAF; /* Color on hover */
}

.radial-gradient-bottom-left {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at bottom left, #3b82f6, transparent);
}


.hero_button {
  height: 2.5rem !important;
  width: 8rem !important;
}
div#lottie {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto !important;
  display: block;
  height: 115% !important;
  max-height: 115%;
  width: 100% !important;
}
.align-center {
  align-items: center;
}

@media(min-width:768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
footer {
  background-image: url(/_next/static/media/footer-top-line.1cbd8452.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
}
@media(min-width:992px){
  .view_all {
    padding: 7px 40px !important;
  }
  footer {
    border-top: 1px solid #00C3FD;
    padding-top: 40px;
    border-radius: 50px;
}
  .right-line, .left-line, .header-btn {
    font-size: 12px !important;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media(min-width:1025px){
  .hero_button {
    height: 3rem !important;
    width: 10rem !important;

  }
  
}
@media(min-width:1366px) {
  .right-line, .left-line, .header-btn {
    font-size: 18px !important;
  }
}
@media(min-width:1700px) {
  .container {
    max-width: 1620px;
  }

  .hero_button {
    height: 4rem !important;
    width: 12rem !important;
  }
  .hero_title {
    font-size: 64px !important;
    line-height: 5rem !important;
}
}
