.fs-18x {
    font-size: 18px;
}

.logo {
    max-width: 304px;
}

.headerMenu {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.right-line,
.left-line,
.header-btn {
    font-size: 9.7px;
    line-height: 1rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(89, 145, 255, 0.8) 30%, rgba(53, 87, 153, 0.6) 100%);
}

.profile-img {
    max-width: 30px;
}

.checkbtn {
    float: right;
    line-height: 80px;
    /* margin: 0px 20px 0px 10px; */
    cursor: pointer;
}

#check {
    display: none;
}

.icon-img {
    min-width: 20px !important;
}

.footer-top-line {
    position: absolute;
}

.footer-links {
    color: aliceblue;
}

.footer-btn-text {
    font-size: 10px;
}

.footer-gray-text {
    color: rgba(255, 252, 252, 0.438);
}

.footer-btn {
    border-radius: 12.02px;
    background: linear-gradient(66deg, #00C3FD 25.98%, #0194FE 65.48%);
    box-shadow: 0px 8.184px 15.345px 0px #003861;
    max-width: fit-content;
    margin: auto;
}

.footer-social-img {
    width: 40px;
    border-radius: 50%;
    background: rgba(199, 225, 219, 0.11);
    backdrop-filter: blur(25px);
    padding: 10px;
}




.footer-copty-text {
    max-width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(89, 145, 255, 1), rgba(0, 0, 0, 1));
    margin-bottom: 20px;
}

.footer-copty-text p {
    color: #000618;
    font-weight: bold;
    font-family: 'Inter';
    letter-spacing: 1px;

}

.footer-copty-text p {
    font-size: 12px;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:1600px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width:1200px) {
    .footer-copty-text p {
        font-size: 16px;
    }
}
@media(max-width:1280px) {
    .logo {
        max-width: 200px;
    }

    .footer-content {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .fs-18x {
        font-size: 16px !important;
    }

    .menu-links {
        font-size: 12px;
    }
}

@media(max-width:767px) {
    .logo {
        max-width: 150px;
        
    }
    footer {
        border-top: 1px solid #00C3FD;
        padding-top: 40px;
    }
    .follow-us {
        font-size: 12px;
    }
    .footer-gray-text{
        font-size: 14px;
    }
    .fs-10x {
        font-size: 10px !important;
    }

    .header-btn button {
        font-size: 12px;
    }

    .headerbtn-box {
        gap: 4px;
    }

    .headerbtn-box button {
        padding: 0px 4px 0px 4px;
    }

    .footer-copty-text p {
        color: #fff;
    }



    .footer-content {
        max-width: 100%;
    }

    .engine-header {
        padding-top: 6px;
    }

    /* menu responsivesness */

}

.headerResponsive {
    display: none;
}

@media(max-width:640px) {
    .headerResponsive{
        display: block;
        background-color: black;
    }
    .footer-gray-text{
        font-size: 10px;
    }
    .headerDefault{
        display: none !important;
    }
    .headerMenu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display: flex;
        background: black !important;
        z-index: 999;
        text-align: center;
    }

    .headerMenu {
        display: flex;
    }

    .menu-links a {
        display: block !important;
    }

    .headerMenu ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding-bottom:10px;
    }

    .headerMenu ul li a {
        font-size: 10px;
    }
    .footer-copty-text p {
        font-size: 10px;
    }
}
